.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 16px;
  width: 100%;
}

.search-bar {
  flex: 0 0 60%; /* Set width to 60% */
  display: flex;
  align-items: center;
  background: rgba(241, 245, 249, 0.8);
  border: 1px solid rgba(226, 232, 240, 0.8);
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.add-book-btn {
  flex: 0 0 30%; /* Set width to 30% */
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-book-btn svg {
  font-size: 14px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .books-header {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 1rem;
  }

  .add-book-btn {
    width: 40%;
    flex: none;
  }

  .search-bar {
    max-width: 100%;
    width: 50%;
    flex: none;
  }
}

@media screen and (max-width: 576px) {
  .books-header {
    padding: 8px;
    gap: 12px;
  }

  .search-bar {
    padding: 6px 8px;
  }

  .search-input {
    font-size: 0.9rem;
  }

  .add-book-btn {
    width: auto;
    padding: 6px 10px;
    justify-content: center;
    font-size: 0.9rem;
  }
}
